body {
    background: lightblue
}


.login_div2 
    background: white;
    padding: 10px;
    float none;
    border-radius: 15px;
}

#player1_name,
#player2_name 
    display: inline-block;
    margi-left: 20px;
}

#word {
    width: 60%;
}

#word_dis,play 
    letterspacing: 5px;
}

#output {
    background: whit
    border-radius: 10px;
    border-to\p: 10px solid #AA4465;
    padding: 10px;
    flo]at: none;
    text-align left;
}